@media screen and (max-width: 1440px) {
  .teacherPage .teacher-content {
    width: 67%;
    min-width: 802px;
    justify-content: space-between;
  }
  .teacherPage .teacher-title {
    font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    color: #fff;
  }
}
@media screen and (min-width: 1441px) {
  .teacherPage .teacher-content {
    width: 57%;
    min-width: 872px;
    justify-content: space-between;
  }
  .teacherPage .teacher-title {
    font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    color: #fff;
  }
}
.teacherPage .title {
  font-size: 20px;
  margin: 20px 0;
  border-radius: 6px;
  font-weight: 700;
  padding: 16px 50px;
  color: rgba(48, 46, 114, var(--tw-text-opacity));
}
