@media screen and (max-width: 1440px) {
  .teacherPage .teacher-content {
    width: 67%;
  }
  .teacherPage .teacher-title {
    font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    color: #fff;
  }
}
@media screen and (min-width: 1441px) {
  .teacherPage .teacher-content {
    width: 57%;
  }
  .teacherPage .teacher-title {
    font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    color: #fff;
  }
}
