.tCard {
  border-width: 0px;
  width: 382px;
  height: 200px;;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  background-color: rgba(226, 226, 226, 1);
  background-image: none;
  border: none;
  border-radius: 13px;
  box-shadow: 0px 15px 20px #00000059;
  margin-bottom: 56px;
  transition: all .4s cubic-bezier(0.5, 1, 0.89, 1);
  .tName {
    font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    color: #302e72;
  }
}

.tCard:hover {
  transform:translateY(-16px);
  .tName{
    font-size: 18px;
  }
}