body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1514px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:1514px;
  height:1687px;
}
#u7931_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:1687px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(249, 248, 254, 1);
  background-image:url('../../images/事件1/u286_state0.png');
  background-position:right bottom;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1514px 1764px;
  background-origin:border-box;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7931_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:1552px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(254, 165, 83, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:justify;
  text-justify:inter-word;
}
#u7933 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:73px;
  width:959px;
  height:1552px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:justify;
  text-justify:inter-word;
}
#u7933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(92, 116, 155, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u7934 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:1530px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u7934 .text {
  position:absolute;
  align-self:center;
  padding:5px 20px 5px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:1.5px;
  color:#302E72;
  text-align:center;
}
#u7935 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:93px;
  width:545px;
  height:62px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:1.5px;
  color:#302E72;
  text-align:center;
}
#u7935 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7935_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7936_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:504px;
  height:7px;
}
#u7936 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:166px;
  width:500px;
  height:3px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:justify;
  text-justify:inter-word;
}
#u7936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.5px;
  color:#999999;
  text-align:justify;
  text-justify:inter-word;
  line-height:30px;
}
#u7938 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:174px;
  width:93px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.5px;
  color:#999999;
  text-align:justify;
  text-justify:inter-word;
  line-height:30px;
}
#u7938 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7938_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:1260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:justify;
  text-justify:inter-word;
  line-height:30px;
}
#u7940 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:219px;
  width:849px;
  height:1260px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:justify;
  text-justify:inter-word;
  line-height:30px;
}
#u7940 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(92, 116, 155, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7941 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:18px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7941 .text {
  position:absolute;
  align-self:center;
  padding:5px 20px 5px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7946 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
  height:68px;
}
#u7946_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7946_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
}
#u7947_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7947_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
}
#u7948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
  display:flex;
}
#u7948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/首页/u260_div.png');
  background-repeat:no-repeat;
  background-size:140px 60px;
  background-position: 20.0px 4.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7949 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:0px;
  width:180px;
  height:68px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7950 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7950_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7951 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7951_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7952 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7952_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7953 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7953_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7954 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7954_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7955 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7955_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7956 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7956_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7957 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7957_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7958 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7958_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7959 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7959_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7960 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7960_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7961 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7961_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7962 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7962_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7963 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7963_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7964 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7964_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7965 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u7965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7965_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7966 {
  position:fixed;
  left:50%;
  margin-left:12px;
  top:68px;
  width:126px;
  height:68px;
  visibility:hidden;
}
#u7966_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(48, 46, 114, 0.352941176470588);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7966_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:center;
}
#u7967 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:24px;
  width:70px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:center;
}
#u7967 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7967_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:center;
}
#u7967.mouseOver {
}
#u7967_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u7968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1755px;
  width:1514px;
  height:224px;
}
#u7968_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:224px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/首页/u26_state0.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1514px 1404px;
  background-origin:border-box;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7968_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:225px;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:225px;
  display:flex;
  color:#302E72;
}
#u7969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#302E72;
  text-align:center;
  line-height:14px;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:175px;
  width:311px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#302E72;
  text-align:center;
  line-height:14px;
}
#u7970 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7970_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:23px;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:38px;
  width:352px;
  height:23px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:4px;
  color:#302E72;
  text-align:center;
}
#u7971 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7971_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:139px;
  width:140px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7972_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7973 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:139px;
  width:100px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7973 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7973_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7974 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:139px;
  width:238px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7975 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:139px;
  width:147px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7975_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u7976 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u7976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u7977 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u7977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7978 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:103px;
  width:107px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7978 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7978_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7979 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:103px;
  width:252px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7980 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:103px;
  width:84px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7981 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:103px;
  width:70px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u7981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7981_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u7982 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u7982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u7983 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u7983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u7984 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u7984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/首页/u260_div.png');
  background-repeat:no-repeat;
  background-size:140px 60px;
  background-position: 20.0px 4.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:15px;
  width:180px;
  height:68px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u7986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
