.menuwrap {
  background: transparent;
  text-align: center;
  font-size: 20px;
  border: 0;
  background-color: @primary-color;
  justify-content: center;
}
.submenu {
  background-color: @primary-color;
}

.menuitem-inside {
  background-color: @primary-color;
}
.menuitem-outside {
  background-color: @primary-color;
  margin: 0 16px;
}
.alignMiddle {
  vertical-align: middle !important;
}

:global {
  .ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    background-color: @primary-color !important;
  }
}
