.menuwrap {
  background: transparent;
  text-align: center;
  border: 0;
  justify-content: center;
  // color: #fff !important;
  // text-shadow: 2px 2px 2px rgb(0 0 0 / 65%) !important;
}
.submenu {
  background: transparent !important;
  // color: #fff !important;
  // text-shadow: 2px 2px 2px rgb(0 0 0 / 65%) !important;
}

.menuitem-inside {
  color: #fff !important;
  text-shadow: 2px 2px 2px rgb(0 0 0 / .65);
  
}
.menuitem-outside {
  background: transparent !important;
  margin: 0 16px;
  color: #fff !important;
  text-shadow: 2px 2px 2px rgb(0 0 0 / .65);
}
.alignMiddle {
  vertical-align: middle !important;
}

:global {
  li[title='个人测评'] {
    margin: 0 !important;
    background-color:rgba(48, 46, 114, 0.35) !important;
    opacity: .7;
  }
  .ant-menu-item,.ant-menu-submenu {
    &::after {
      border: 0 !important;
    }
  }
  .ant-menu-item-active,.ant-menu-item-selected,.ant-menu-submenu-selected{
    background-color:rgba(48, 46, 114, 0.35) !important;
    opacity: .7;
  }
}
