body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1514px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9752 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
  height:68px;
}
#u9752_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9752_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
}
#u9753_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9753_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
}
#u9754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
  display:flex;
}
#u9754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/首页/u260_div.png');
  background-repeat:no-repeat;
  background-size:140px 60px;
  background-position: 20.0px 4.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u9755 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:0px;
  width:180px;
  height:68px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u9755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9756 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9756_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9757 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9757_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9758 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9758_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9759 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9759_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9760 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9760_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9761 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9761_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9762 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9762_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9763 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9763_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9764 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9764_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9765 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9765_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9766 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9766_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9767 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9767_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9768 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9768_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9769 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9769_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9770 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9770_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9771 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u9771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9771_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9772 {
  position:fixed;
  left:50%;
  margin-left:12px;
  top:68px;
  width:126px;
  height:68px;
  visibility:hidden;
}
#u9772_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(48, 46, 114, 0.352941176470588);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9772_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:center;
}
#u9773 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:24px;
  width:70px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:center;
}
#u9773 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9773_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:center;
}
#u9773.mouseOver {
}
#u9773_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u9774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1901px;
  width:1514px;
  height:224px;
}
#u9774_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:224px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/首页/u26_state0.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1514px 1404px;
  background-origin:border-box;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9774_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:225px;
}
#u9775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:225px;
  display:flex;
  color:#302E72;
}
#u9775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#302E72;
  text-align:center;
  line-height:14px;
}
#u9776 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:175px;
  width:311px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#302E72;
  text-align:center;
  line-height:14px;
}
#u9776 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9776_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:23px;
}
#u9777 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:38px;
  width:352px;
  height:23px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:4px;
  color:#302E72;
  text-align:center;
}
#u9777 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u9777_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9778 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:139px;
  width:140px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9778 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9778_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9779 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:139px;
  width:100px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9780 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:139px;
  width:238px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9780 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9780_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9781 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:139px;
  width:147px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9781 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9781_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u9782 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u9782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u9783 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u9783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9784 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:103px;
  width:107px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9785 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:103px;
  width:252px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9785 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9785_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9786 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:103px;
  width:84px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9786 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9786_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9787 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:103px;
  width:70px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u9787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9787_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u9788 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u9788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u9789 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u9789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u9790 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u9790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/首页/u260_div.png');
  background-repeat:no-repeat;
  background-size:140px 60px;
  background-position: 20.0px 4.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u9791 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:15px;
  width:180px;
  height:68px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u9791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u9792 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u9792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:1514px;
  height:1833px;
}
#u9793_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:1833px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(249, 248, 254, 1);
  background-image:url('../../images/事件1/u286_state0.png');
  background-position:right bottom;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1514px 1764px;
  background-origin:border-box;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9793_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(92, 116, 155, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:3px;
  color:#FFFFFF;
}
#u9794 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:58px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:3px;
  color:#FFFFFF;
}
#u9794 .text {
  position:absolute;
  align-self:center;
  padding:5px 20px 5px 20px;
  box-sizing:border-box;
  width:100%;
}
#u9794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1663px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:10px;
  border-style:solid;
  border-color:rgba(254, 165, 83, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9795 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:113px;
  width:1300px;
  height:1663px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  letter-spacing:3px;
  color:#302E72;
  text-align:center;
}
#u9797 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:38px;
  width:70px;
  height:42px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  letter-spacing:3px;
  color:#302E72;
  text-align:center;
}
#u9797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u9798 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:38px;
  width:42px;
  height:42px;
  display:flex;
}
#u9798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(92, 116, 155, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u9799 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:1692px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u9799 .text {
  position:absolute;
  align-self:center;
  padding:5px 20px 5px 20px;
  box-sizing:border-box;
  width:100%;
}
#u9799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9801 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:203px;
  width:1188px;
  height:1455px;
}
#u9801_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:1455px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9801_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:1455px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:1.5px;
  line-height:25px;
}
#u9802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:1455px;
  display:flex;
  font-family:'宋体 常规', '宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:1.5px;
  line-height:25px;
}
#u9802 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:1445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9803 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:10px;
  width:632px;
  height:1445px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:2px;
  color:#302E72;
}
#u9804 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:40px;
  width:169px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  letter-spacing:2px;
  color:#302E72;
}
#u9804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9804_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
}
#u9805 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:110px;
  width:550px;
  height:280px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
}
#u9805 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:685px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
}
#u9806 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:428px;
  width:550px;
  height:685px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
}
#u9806 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
}
#u9807 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:1158px;
  width:189px;
  height:230px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
}
#u9807 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u9808 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:105px;
  width:52px;
  height:54px;
  display:flex;
}
#u9808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:56px;
}
#u9809 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:1163px;
  width:52px;
  height:56px;
  display:flex;
}
#u9809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:784px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9810 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:333px;
  width:407px;
  height:784px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u9810 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u9811 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:125px;
  width:190px;
  height:190px;
  display:flex;
}
#u9811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:78px;
}
#u9812 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:27px;
  width:75px;
  height:78px;
  display:flex;
}
#u9812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#302E72;
}
#u9813 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:51px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#302E72;
}
#u9813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
}
#u9814 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:1158px;
  width:211px;
  height:160px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
}
#u9814 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9814_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u9815 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:1163px;
  width:52px;
  height:52px;
  display:flex;
}
#u9815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
}
#u9816 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1158px;
  width:189px;
  height:125px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
}
#u9816 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u9816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u9817 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:1158px;
  width:53px;
  height:53px;
  display:flex;
}
#u9817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u9818 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:428px;
  width:53px;
  height:53px;
  display:flex;
}
#u9818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:50px;
  background:inherit;
  background-color:rgba(254, 165, 83, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:left;
  line-height:32px;
}
#u9819 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:153px;
  width:185px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:left;
  line-height:32px;
}
#u9819 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 20px;
  box-sizing:border-box;
  width:100%;
}
#u9819_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:50px;
  background:inherit;
  background-color:rgba(86, 133, 203, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:left;
  line-height:32px;
}
#u9819.mouseOver {
}
#u9819_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:50px;
  background:inherit;
  background-color:rgba(86, 133, 203, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:left;
  line-height:32px;
}
#u9819.selected {
}
#u9819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
