body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1514px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:1514px;
  height:2311px;
}
#u8500_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:2311px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(249, 248, 254, 1);
  background-image:url('../../images/事件1/u286_state0.png');
  background-position:right bottom;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1514px 1764px;
  background-origin:border-box;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8500_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:2189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(254, 165, 83, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:justify;
  text-justify:inter-word;
}
#u8502 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:73px;
  width:959px;
  height:2189px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:justify;
  text-justify:inter-word;
}
#u8502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(92, 116, 155, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u8503 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:2176px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u8503 .text {
  position:absolute;
  align-self:center;
  padding:5px 20px 5px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:1.5px;
  color:#302E72;
  text-align:center;
}
#u8504 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:92px;
  width:601px;
  height:62px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  letter-spacing:1.5px;
  color:#302E72;
  text-align:center;
}
#u8504 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8505_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:504px;
  height:7px;
}
#u8505 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:166px;
  width:500px;
  height:3px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:justify;
  text-justify:inter-word;
}
#u8505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.5px;
  color:#999999;
  text-align:justify;
  text-justify:inter-word;
  line-height:30px;
}
#u8507 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:174px;
  width:140px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.5px;
  color:#999999;
  text-align:justify;
  text-justify:inter-word;
  line-height:30px;
}
#u8507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8507_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:justify;
  text-justify:inter-word;
  line-height:30px;
}
#u8509 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:219px;
  width:849px;
  height:120px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#000000;
  text-align:justify;
  text-justify:inter-word;
  line-height:30px;
}
#u8509 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  line-height:30px;
}
#u8511 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:1806px;
  width:849px;
  height:300px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  line-height:30px;
}
#u8511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:1428px;
}
#u8512 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:349px;
  width:522px;
  height:1428px;
  display:flex;
}
#u8512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(92, 116, 155, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8513 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:18px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8513 .text {
  position:absolute;
  align-self:center;
  padding:5px 20px 5px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8518 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
  height:68px;
}
#u8518_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8518_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
}
#u8519_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8519_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
}
#u8520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:68px;
  display:flex;
}
#u8520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/首页/u260_div.png');
  background-repeat:no-repeat;
  background-size:140px 60px;
  background-position: 20.0px 4.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8521 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:0px;
  width:180px;
  height:68px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8522 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8522_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8523 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8523_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8524 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8524_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8525 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8525_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8526 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8526_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8527 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8527_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8528 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8528_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(251, 254, 113, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8529 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8529_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8530 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8530_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8531 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8531_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8532 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8532_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8533 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8533_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8534 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8534_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8535 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8535_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8536 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8536_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
  background:inherit;
  background-color:rgba(48, 46, 114, 0.203921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8537 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:0px;
  width:100px;
  height:68px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u8537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8537_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8538 {
  position:fixed;
  left:50%;
  margin-left:12px;
  top:68px;
  width:126px;
  height:68px;
  visibility:hidden;
}
#u8538_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(48, 46, 114, 0.352941176470588);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8538_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:center;
}
#u8539 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:24px;
  width:70px;
  height:21px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:center;
}
#u8539 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8539_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:center;
}
#u8539.mouseOver {
}
#u8539_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2379px;
  width:1514px;
  height:224px;
}
#u8540_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:224px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/首页/u26_state0.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1514px 1404px;
  background-origin:border-box;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8540_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:225px;
}
#u8541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1514px;
  height:225px;
  display:flex;
  color:#302E72;
}
#u8541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#302E72;
  text-align:center;
  line-height:14px;
}
#u8542 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:175px;
  width:311px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#302E72;
  text-align:center;
  line-height:14px;
}
#u8542 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8542_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:23px;
}
#u8543 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:38px;
  width:352px;
  height:23px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:4px;
  color:#302E72;
  text-align:center;
}
#u8543 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8543_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8544 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:139px;
  width:140px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8544 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8544_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8545 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:139px;
  width:100px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8545 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8545_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8546 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:139px;
  width:238px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8546 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8546_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8547 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:139px;
  width:147px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8547 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8547_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u8548 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u8548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u8549 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u8549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8550 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:103px;
  width:107px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8550 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8550_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8551 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:103px;
  width:252px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8551 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8551_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8552 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:103px;
  width:84px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8552 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8552_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8553 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:103px;
  width:70px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#302E72;
}
#u8553 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8553_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u8554 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u8554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u8555 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u8555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u8556 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:103px;
  width:1px;
  height:19px;
  display:flex;
}
#u8556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/首页/u260_div.png');
  background-repeat:no-repeat;
  background-size:140px 60px;
  background-position: 20.0px 4.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8557 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:15px;
  width:180px;
  height:68px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u8558 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:139px;
  width:1px;
  height:19px;
  display:flex;
}
#u8558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
