/***系统主体部分***/
.container {
  min-height: 100vh;

  /***系统头部***/
  .header {
    background: @background-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 16px;
    .header__toolbar {
      margin-top: 16px;
      width: 100%;
    }
    .header__menu {
      width: 100%;
    }
  }

  /***系统内容区域***/
  .content {
    flex: auto;
    display: flex;
    background: #fff;
    min-height: 280px;
    width: 100%;
    & > div {
      width: 100%;
    }
  }
  .footerContent {
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    text-align: center;
  }
}
